{% extends 'base.html'%}

{%block header %}
<h1>Hello page</h1>
{% endblock %}

{% block content %}
<form action="/hallo" method="POST">
    <p>Name <input type="text" name="name" /></p>
    <p>Message <input type="text" name="message" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
{% if messages %}
<table>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{message}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}